.home {
  margin-top: 10vh;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../../assets/images/c2c11f6ef8d89c6d49106fd192749b6a.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .home__primaty-title {
  font-size: 90px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
  .home {
    margin-top: 25vh;
  }
}
